@using Sandbox.Modals
@using Sandbox
@using Sandbox.UI
@using Sandbox.Menu
@using MenuProject.MenuUI.Components

@inherits MenuProject.Modals.BaseModal

<root>

	<div class="inner">

        <div class="tiles-container">
        
               <div class="left">
                    @if ( game is not null )
                    {
                        <GameInfoBox Package="@game"></GameInfoBox>
                    }
                    else
                    {
                        <div class="info">
                            <h2>@Game.Ident</h2>
                            <h3>Unpublished Game -- no info to show</h3>
                        </div>
                    }
               </div>

               <div class="right">
                   @if ( game is not null ) 
                   {
                       <HtmlPanel Html="@game.Description"></HtmlPanel>
                   }
               </div>

        </div>

        <div class="bottom-bar">

            <div class="left">
                <Button class="exit" Tooltip="Return to s&box main menu" Icon="west" @onclick="@(() => Game.Close())" Text="Leave"></Button>
            </div>

            <div class="center">

                @if (CanChangeMap)
                {
                    <Button class="circle" Tooltip="Change Map" Icon="map" onclick=@ChangeMap></Button>
                }

                @if (Networking.IsActive && (game?.Info.ShowsPlayerList ?? true))
                {
                    <Button class="circle" Icon="groups" Tooltip="Player List" @onclick="@(() => Game.Overlay.ShowPlayerList())"></Button>
                }

                <Button class="circle" Tooltip="Reconfigure Controls" Icon="gamepad" @onclick="@(() => Game.Overlay.ShowBinds())"></Button>
				<Sandbox.UI.Mounts.MountButton class="circle" Tooltip="Mounted Games" PositionMode=@Popup.PositionMode.AboveCenter />
				<Button class="circle" Tooltip="Open Settings" Icon="settings" @onclick="@(() => Game.Overlay.ShowSettingsModal())"></Button>

                @if ( (game?.Info.IsStreamerGame ?? false) )
                {
                    <Button class="circle" Active=@Streamer.IsActive Tooltip="Stream Connection" Icon="settings_input_antenna" @onclick="@(() => Game.Overlay.ShowServiceConnector())"></Button>
                }

            </div>

            <div class="right">
                <Button class="resume" Icon="play_arrow" @onclick="@(() => this.Delete())" Text="Resume"></Button>
            </div>

        </div>

	</div>

</root>

@code
{

    bool CanChangeMap
    {
        get
        {
            if ( Networking.IsActive && !Networking.IsHost ) return false;

            return game?.Info.ShowsChangeMap ?? false;
        }
    }

    Package game;


    void OnCreateGame( CreateGameResults x )
    {
        if ( Networking.IsActive && !Networking.IsHost )
            return;

        if ( !string.IsNullOrEmpty( x.Map ) )
        {
			LaunchArguments.Map = x.Map;
        }

        Game.Load( Game.Ident, true );

        this.CloseModal( true );
    }

    void ChangeMap()
    {
        Game.Overlay.CreateGame( new CreateGameOptions( game, OnCreateGame ) );
    }

    public PauseModal() : base()
    {
        game = MenuUtility.GamePackage;
    }

    protected override async Task OnParametersSetAsync()
    {
        if ( !game.IsRemote )
        {
            var ident = game.FullIdent.Split('#')[0];
            game = await Package.FetchAsync(ident, false) ?? game;
            StateHasChanged();
        }
    }

    public override void Tick()
    {
        base.Tick();

        CheckForDelete();
    }

    bool CheckForDelete()
    {
        if ( !Game.InGame )
        {
            Delete();
            return true;
        }

        if (MenuUtility.GamePackage?.Ident != game?.Ident)
        {
            Delete();
            return true;
        }

        return false;
    }

    public bool IsPauseMenuOpen()
    {
        if (CheckForDelete() ) 
            return false;

        return !HasClass( "hidden" );
    }
}
