@namespace Menu
@inherits Panel
@using Sandbox

<root>
    <div class="left">
        <img src=@Player?.Avatar onclick="@OpenUserPanel" />
    </div>

    <div class="right">
        <div class="header">
            @if (Player is not null)
            {
                var playerclass = "username";
                if (Player.Online) playerclass += " online";
                if (Player.IsFriend) playerclass += " friend";

                <div class="@playerclass" onclick="@OpenUserPanel">@Player.Name</div>
            }

            @if (Date != null)
            {
                <label>
                    @($"Posted {Date?.Humanize()}")
                </label>
            }

            @if (TimePlayed is not null)
            {
                <label>
                    @($"• {TimePlayed}")
                </label>
            }

            <div class="grow" />
                
            @if (TopBar is not null)
            {
                @TopBar
            }
        </div>
        <div class="content">@Content</div>

    </div>
</root>

@code
{
    [Parameter] public Sandbox.Services.Players.Profile Player { get; set; }
    [Parameter] public RenderFragment Content { get; set; }
    [Parameter] public RenderFragment TopBar { get; set; }
    [Parameter] public DateTimeOffset? Date { get; set; }
    [Parameter] public string TimePlayed { get; set; }

    void OpenUserPanel()
    {
        Game.Overlay.ShowPlayer(Player.Id);
    }

}
