@namespace MenuProject.Modals
@inherits MenuProject.Modals.BaseModal
@using Sandbox;
@using Sandbox.UI;
@using Menu;
@using System;
@using Sandbox.Network
@using MenuProject.Modals.GameModalComponents;
@using MenuProject.Modals.PackageModalComponents;

<root>

    <MegaCard>
        <Metrics>
            <PackageMetrics Package="@Package"/>
        </Metrics>
        <Tabs>

            <PortalButton StartActive Portal=@Portal>
                <Button>
                    <SearchlightTab Title="Overview" Icon="people" />
                </Button>
                <Content>
                    <Media Package=@Package></Media>
                    <PackageDescription Package=@Package />
                </Content>
            </PortalButton>

            <PortalButton Portal=@Portal>
                <Button>
                    <SearchlightTab Title="Reviews" Icon="reviews" />
                </Button>
                <Content>
                    <PackageReviews Package=@Package/>
                </Content>
            </PortalButton>

            @if (Package.LatestNewsPost is not null)
            {
                <PortalButton Portal=@Portal>
                    <Button>
                        <SearchlightTab Title="News" Icon="newspaper" />
                    </Button>
                    <Content>
                        <PackageNews Package=@Package/>
                    </Content>
                </PortalButton>
            }

        </Tabs>
        <Left>
            <PackageHero Package="@Package" class="sidebar" MaxTags=@(8) />

            @if (achList is not null)
            {
                <Label class="eyebrow">Achievements</Label>
                <PortalButton Portal=@Portal>
                    <Button>
                        <AchievementSummary Package="@Package"></AchievementSummary>
                    </Button>
                    <Content>
                        <AchievementList Package="@Package"></AchievementList>
                    </Content>
                </PortalButton>
            }

        </Left>

        <Content><PortalTarget @ref=Portal></PortalTarget></Content>

        <Footer>
            <ActionBar Modal="@this" Package="@Package"></ActionBar>
        </Footer>
    </MegaCard>

</root>

@code
{
    public Package Package;
    public string PackageIdent { get; set; }
    public bool HasFullPackage { get; set; }

    public List<LobbyInformation> Lobbies = new();

    AchievementCollection achList;

    PortalTarget Portal = default;

    async Task RefreshLobbies()
    {
        var filters = new Dictionary<string, string> { { "game", PackageIdent } };
        Lobbies = await Networking.QueryLobbies( filters );

        StateHasChanged();
    }

    void OnLobbySelected ( LobbyInformation lobby )
    {
        MenuUtility.Connect( lobby.LobbyId );
        OrganizationModal.LastOpened?.CloseModal( true );
    }

    protected override async Task OnParametersSetAsync()
    {
        if (PackageIdent is null)
            return;

        // Get whatever package info we have
        Package.TryGetCached(PackageIdent, out Package, true);

        // Get Full Package info
        Package = await Package.FetchAsync(PackageIdent, false);
        HasFullPackage = true;

        await RefreshLobbies();

        achList = await Package.GetAchievements();
        if (!achList.All.Any()) achList = default;
        if (achList is not null) StateHasChanged();
    }

    protected override int BuildHash() => System.HashCode.Combine(Package);
}
